<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Codeवे: Home</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="../static/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>Codeवे</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="index.html" class="nav-item nav-link active">Home</a>
                <a href="/tutorials" class="nav-item nav-link">Tutorials</a>
                <a href="/about" class="nav-item nav-link">About</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Courses</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="/block_hindi" class="dropdown-item">Python Hindi</a>
                        <a href="/block_bengali" class="dropdown-item">Python Bengali</a>
                        <a href="/block_tamil" class="dropdown-item">Python Tamil</a>
                    </div>
                    
                </div>
                <a href="contact.html" class="nav-item nav-link">Contact</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <!-- <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative">
                    </div>
                </div> -->
                <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="mb-4">
                                <b> Why Should Kids Learn Programming? </b>
                            </h3>
                            <p class="mb-4 text-justify">
                                First of all, coding is, at its base, a creative process where you make something from scratch. Creating something from zero forces kids to use their imagination, ability, and skills all together at the same time, which leads to improvement in creativity. Therefore, through coding, curious and imaginative children become capable of thinking creatively.
                                <br>
                                Furthermore, coding is a fun and entertaining activity for kids. There are a lot of exciting methods for teaching coding, not only to kids but to all newcomers. For example, websites like code.org offer several puzzles, games, and exercises for kids. This is intended to attract their attention and is very successful in doing so, because coding is like magic and kids are thrilled to know how computers, games, and websites work.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <img src="..\static\img\about1.jpeg" width="450"> </img>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <img src="..\static\img\about2.jpeg" width="450"> </img>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-4 text-justify">
                                 Programming in a native language can be incredibly beneficial to children in several ways. Firstly, it allows them to understand programming concepts more easily since they are using a language they are already familiar with. This familiarity can help reduce frustration and increase engagement with the subject matter. Secondly, it promotes language learning as the child is exposed to technical vocabulary in their native language, which can help them develop stronger language skills. Additionally, programming in a native language can help children feel more connected to their culture and identity, which can positively impact their self-esteem and motivation to learn. Finally, it can encourage more diverse participation in the field of computer science, as programming in one's native language can help reduce language barriers that might prevent some children from pursuing computer science as a career.
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Service End -->


    <!-- Testimonial Start -->
    
    <!-- Testimonial End -->
        

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/wow/wow.min.js"></script>
    <script src="../static/lib/easing/easing.min.js"></script>
    <script src="../static/lib/waypoints/waypoints.min.js"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="../static/js/main.js"></script>
    
</body>

</html>
